.register {
    height: 90vh;
    margin-right: 20px;
    margin-left: 20px;
}

.iconDiv {
    height: 20vh;
    margin-left: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: gray;
}

.registerForm {
    height: 40vh;
    width: 70%;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.registerForm input {
    width: 100%;
    height: 20px;
}

.registerButtonDiv {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
}

.registerButtonDiv button {
    background-color: #ec3865;
    border-radius: 2px;
    border: none;
    height: 30px;
    width: 40%;
}

.registerButtonDiv button:hover {
    color: white;
    cursor: pointer;

}


.profilepic img {
    height: 60px;
    width: 60px;
}


.profilepic input {
    margin-left: 30px;
}
.picDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerButtonDiv a {
  text-decoration: none;
  color: black;
  }

.registerButtonDiv a:hover {
    color: white;
    cursor: pointer;
}