.profilePage {
  position: relative;
  height: 100%;
  overflow: scroll;
}

.profilePage::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for IE, Edge, and Firefox */
.profilePage {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox */
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 0.5px solid black;
}

.header p {
  margin-bottom: 5px;
}

.header span {
  font-weight: bold;
}

.username {
  display: flex;
  width: 65%;
  justify-content: center;
}

.picSection {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilePic {
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
}

.picSection p {
  font-weight: 500;
  margin-top: 20px;
}

.stats {
  display: flex;
  justify-content: center;
}

.following,
.followers,
.likes {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  padding-left: 15px;
  padding-right: 15px;
  color: gray;
}

.likes {
  padding-left: 20px;
}
.borderRight {
  border-right: 0.75px solid lightgray;
  position: absolute;
  top: 25%;
  bottom: 40%;
  right: 0;
}
.number {
  margin-bottom: 0;
  font-weight: bold;
  font-size: small;
  color: black;
}

.following p,
.followers p,
.likes p {
  margin-top: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
}

.editProfile {
  width: 50%;
  margin-right: 5px;
  font-weight: 500;
}

.editProfile,
.bookmarks {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 5px;
}

.videos {
  color: grey;
  padding-top: 10px;
  padding-left: 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.videos li {
  padding-bottom: 8px;
}

.videoContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail {
  display: flex;
  width: 32.5%;
  /* object-fit: cover; */
  padding-bottom: 2px;
  position: relative;
  font-size: 10px;
}

.videoInfo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
  font-size: 1.2rem;
  color: #fff;
  z-index: 10;
  margin: 0px 0px 5px 5px;
  /* text-align: right; */
}
.thumbnail:hover .videoInfo {
  visibility: visible;
}

.thumbnailVideo {
  width: 100%;
  object-fit: cover;
}

.errormsg {
  text-align: center;
  margin-top: 40%;
}

.activeList {
  border-bottom: 2px solid black;
  font-weight: 500;
  color: black;
}

.stats a {
  text-decoration: none;
  color: gray;
}
