.videoFooter {
  position: relative;
  bottom: 200px;
  color: white;
  display: flex;
  padding: 0px 10px;
}

.videoFooterText {
  flex: 1;
}

.musicTicker {
  position: relative;
}

.musicTickericon {
  position: absolute;
}

.musicTickerContainer {
  margin-left: 10%;
}

.musicTickerText {
  margin: 0px;
}

.record {
  height: 50px;
  animation: record-spin infinite 5s linear;
  filter: invert(1);
}

@keyframes record-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
